
.month-header {
  background-image:url(http://i66.tinypic.com/dy85ev.jpg);
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  height:300px;
  text-align:right;
}
